/*=======*=======*=======*=======*=======*
     ==|  Info  |==
 *=======*=======*=======*=======*=======*/
.title,
.user,
.logout {
	height: 50px;
	color: var(--white-200);
	display: flex;
	align-items: center;
	justify-content: center;
}
.title {
	font-size: 1rem;
	letter-spacing: 0.1em;
	font-family: Roboto-Regular;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: var(--border);
}
.user {
	font-size: 1.6rem;
	letter-spacing: 0.1em;
	height: 60px;
	display: flex;
	align-items: flex-end;
	color: var(--white-100);
}
.logout {
	font-size: 0.9rem;
	height: 60px;
	border-bottom: var(--border);
}
.logout span {
	cursor: pointer;
	transition: 0.3s all ease;
}
.logout span:hover {
	color: var(--red);
}
